.mapsLogo {
  max-height: 100px !important;
  margin: auto !important;
  padding: .2em !important;
}

/* -------------MAP -------------------------------------------------*/
/*991 and smaller*/
@media(max-width:991px) {
  .gMap {
    height: 400px;
    width: 900px;
    margin-top: 5px;
  }
  /*.btn {font-size: 20px !important; width: 60%; }*/
  /*.addressSearch {font-size: 20px !important;}*/
}
@media(max-width:767px) {
  .gMap {
    height: 300px;
    width: 700px;
    margin-top: 5px;
  }
  /*.btn {font-size: 20px !important; width: 60%; }*/
  /*.addressSearch {font-size: 20px !important;}*/
}

.gMap {
  height: 400px;
  width: 1200px;
  margin-top: 5px;
}

.infoListItem {
  background-color: #ffffff;
  font-size: .8em;
  /*width: 350px;*/
  /*padding: 5px;
  cursor: pointer;*/
}
.selectedPool {
  background-color: #D4643F;
}
.rank {
  padding-top: 5px;
}
.nopadding {
  padding: 0;
}
/*.infoWindowPics {
  height: 150px;
  width: 200px;
}
.hoverInfoWindowPics {
  height: 500px;
  width: 500px;
}*/

.aePoolPhotos {
  float:left;
  width:50%;
  height:100%;
  object-fit:contain;
}

/* -----CUSTOM MAP MARKERS-----*/

     .custom-marker {
     }

     .custom-marker.my1 {
       font-size: 1em;
       padding: 10px;
       background: #fff;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
       border: #7F7F7F solid 1px;
     }
     .custom-marker.my1:before {
       content: '';
       position: absolute;
       border-style: solid;
       border-width: 7px 6px 0;
       border-color: #7F7F7F transparent;
       display: block;
       width: 0;
       z-index: 0;
       margin-left: -6px;
       bottom: -7px;
       left: 50%;
     }

     .custom-marker.my2 {
       font-size: 1em;
       padding: 10px;
       background: #fff;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       border-radius: 4px;
       border: #7F7F7F solid 1px;
       background: red;
     }
     .custom-marker.my2:before {
       content: '';
       position: absolute;
       border-style: solid;
       border-width: 7px 6px 0;
       border-color: #7F7F7F transparent;
       display: block;
       width: 0;
       z-index: 0;
       margin-left: -6px;
       bottom: -7px;
       left: 50%;
     }


/* -------------END MAPS -------------------------------------------------------------*/

/*---------NAV------------------------------------------------*/
.navbar {
  margin-bottom: 0 !important;
  border: none;
}
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav li {
    float: none;
    display: inline-block;
}
.navbar-nav li a {
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: 3em;
  background: none !important;
  font-family: 'Roboto', sans-serif !important;

  /*(was not using) line-height: inherit !important;*/
}
/*not using this*/
/*.navbar-brand {
  height: 180px !important;
  padding: .2em !important;
}*/


.navbar-toggle {
  border-color: transparent !important;
}

.icon-bar {
  color: #FF4B51 !important;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: bottom !important;
}


/*WAS NOT USING*/
/*.navbar-header {
margin-top: 20px !important;
}*/
/*.navbar > li > a {
padding: 20px 15px 0;
}*/

/*WAS NOT USING*/
/*.navbar-nav li:last-child { background: #D4643F;}
.navbar-nav li:last-child a { color: #cecccc !important;}
.navbar-nav li:last-child a:hover { color: white !important;}*/

/*767 and smaller*/
/*@media(max-width:767px) {
  .navbar-nav li a {
    color: #FF8686 !important;
    font-size: 1em;
    line-height: inherit !important;
  }
  .navbar-nav {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .navbar-brand {
    height: 80px !important;
  }
}*/
/*--------------END NAV--------------------------------------------------*/

/*--------------------------ADMIN -----------------------------*/
.columnSort:hover {
  cursor: pointer;
}
td {
  overflow: hidden;
  white-space: nowrap;
}
.headerRow {
  background-color: yellow;
}
/*--------------------------END ADMIN ---------------------------*/
