/*FF777B  FF4B51*/
body {
  background-color: #D2E0F9 !important;
  /*background: url("../images/water.png") no-repeat fixed center;*/
  /*background-size: cover;*/
  font-family: 'Roboto', sans-serif !important;
  /*ROBOTO not being implemented??*/
}
.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/*---------NAV------------------------------------------------*/
.navbar {
  /*margin-bottom: 50px !important;*/
  background-color: #D2E0F9 !important;
  border-bottom: 2px solid #7D97D0 !important;
  border-radius: 0 !important;
}
.navbar-brand {
  height: 120px !important;
  padding: .2em !important;
}
.navbar-nav{
  margin-top: 40px !important;
  padding-top: 3em;
}
.navbar-nav li a {
  color: #FF777B !important;
  font-weight: bold;
  font-size: 1.3em;
  /*line-height: inherit !important;*/
}
.nav-link{
  padding-bottom: 0 !important;
}
/*.navbar-header {
margin-top: 20px !important;
}*/
/*.navbar > li > a {
padding: 20px 15px 0;
}*/
.navbar-toggle {
  border-color: transparent !important;
}
.icon-bar {
  color: #FF4B51 !important;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: bottom !important;
}
/*.navbar-nav li:last-child { background: #D4643F;}
.navbar-nav li:last-child a { color: #cecccc !important;}
.navbar-nav li:last-child a:hover { color: white !important;}*/

/*767 and smaller*/
@media(max-width:767px) {
  .navbar-nav li a {
    color: #FF8686 !important;
    font-size: 1em;
    line-height: inherit !important;
  }
  .navbar-nav {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }
  .navbar-brand {
    height: 80px !important;
  }
}
/*--------------END NAV--------------------------------------------------*/



/* -------------MAPS -------------------------------------------------*/
/*991 and smaller*/
@media(max-width:991px) {
  /*.btn {font-size: 20px !important; width: 60%; }*/
  /*.addressSearch {font-size: 20px !important;}*/
}
.gMap {
  height: 600px;
  /*margin: 20px;*/
  margin-top: 5px;
  /*border: none;*/
  border: 1px solid black;
  /*border-radius: 10px;*/
}
.infoList {
  margin-top: 5px;
  max-height: 600px;
  border: none;
  /*border: 2px solid black;*/
  /*border-radius: 10px;*/
  overflow: scroll;
  padding: 0 !important;
}
.poolItem {
  border: 1px solid black;
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
}
.selectedPool {
  background-color: #D4643F;
}
.rank {
  padding-top: 5px;
}

/* -------------MAPS SEARCH FORM -------------------------------------------------*/
.mapsform {
  /*text-align: center;*/
  /*used class="text-center" on maps.html instead, not sure if this is a good idea in terms of organization, but it is a native bootstrap class*/
}
.addressSearch {
  border: 1px solid black;
  /*text-align: center;*/
  /*font-size: 18px;*/
  width: 85%;
  /*margin-top: 20px;*/
}
#findPoolButton {
  /*margin-top: 1%;*/
  border: 1px solid black !important;
  /*font-size: 18px !important;*/
  /*width: 50%;*/
  background-color: #F6B201;
}
#useCurrentButton{
  border: 1px solid black !important;
  /*font-size: 18px !important;*/
  /*width: 50%;*/
  background-color: #F6B201;
}
/* -------------END MAPS SEARCH FORM -------------------------------------------------*/
/* -------------END MAPS -------------------------------------------------------------*/



/* -------------CAROUSEL -------------------------------------------------*/
.carousel-control {
  width: 3% !important;
}
#myCarousel {
  margin-top: 2em;
}
/* -------------END CAROUSEL-------------------------------------------------*/

/*----------------whatPeopleSay QUOTES/PICS----------------------------*/

@media (max-width: 767px) {
  .quoteImage {
    width: auto !important;
    }}
/*(#whatPeopleSay styles also used for "our partners")*/
#whatPeopleSay {
  text-align: center;
  font-weight: bolder;
  font-family: 'Roboto' !important;
  word-spacing: .3em;
  padding: 20px;
}

/*--------------------------ADMIN -----------------------------*/
#jsonConvert{
  font-size: x-small;
}
/*#numCities {
  width: 60px;
}*/
.columnSort:hover {
  cursor: pointer;
}

#dashFilterBy {
  margin: 0;
}
#dashboardHeader {
  margin-top: -15px;
  text-align: center;
  letter-spacing: 3px;
}
#surveySearch {
  font-size: 1.17em;
}
#surveySearchResults {
  margin: 0;
  white-space: nowrap;
}
#filterBoxes {
  height: 50px;
}
.filterBox {
  padding-top: 14px;
}
table {
  border: 1px;
}
th {
}
.itemBtn:hover {
  cursor: pointer;

}

.inputTd{
  background-color: rgb(245, 231, 164);
}
.tableBodyRow td{
  border: 1px solid;
  border-color: rgba(251, 247, 247, 0.91);
  padding-left: 5px;
}
.tableBodyRow .removeIconPadding{
  padding-left: 0;
}
.tableBodyRow md-input-container, input{
  padding: 0;
  margin: 0;
}
.tableBody .toastColorRed {
    background-color: rgb(216,67,21);
  }
.tableBody .toastColorGreen {
    background-color: rgb(122, 221, 101);
  }
.tableBody .noToastColor {
  transition: background-color 0.3s ease-in;
}
tr:nth-child(odd) {

    background-color: rgb(234, 231, 235);
}
tr:nth-child(even) {

    background-color: rgb(211, 210, 212);
}

#tableBodyRow td{
  border: 1px solid;
  border-color: rgba(251, 247, 247, 0.91);
  padding-left: 5px;
}
#tableBodyRow #removeIconPadding{
  padding-left: 0;
}
#tableBodyRow md-input-container, input{
  padding: 0;
  margin: 0;

}
#saveAndGoBackButton button{
  margin-left: 0;
}
.headerRow th {
  padding: 5px;
}
tr.headerRow{
  background-color: rgb(63,81,181);
  color: rgba(255,255,255,0.87);
  padding-top: 5px;
}
/*--------------------------END ADMIN ---------------------------*/
