<nav ng-controller="LoginController as login" class="navbar navbar-toggleable-xs navbar-inverse static-top">

<div class="navbar-header">

  <a class="navbar-brand" target="_blank"><img alt="" src="cimages/logos/AE_Hi_Res.png" class=""></a>

  <button type="button" class="navbar-toggle" ng-click="login.toggleNav()">
    <span class="sr-only">Toggle Navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

</div>

  <ul class="nav navbar-nav navbar-right list-unstyled navbar-collapse" uib-collapse="login.isCollapsed">
    <li class="nav-item"><a class="nav-link" href="#!requests">Requests</a></li>
    <li class="nav-item"><a class="nav-link" href="#!gigs">Gigs</a></li>
    <li class="nav-item"><a class="nav-link" href="#!players">Players</a></li>
    <li class="nav-item"><a class="nav-link" href="#!mp3s">mp3s</a></li>
    <li class="nav-item"><a class="nav-link" href="#!charts">Charts</a></li>
    <li class="nav-item"><a class="nav-link" href="#!contacts">Contacts</a></li>
    <li class="nav-item"><a class="nav-link" href="#!setlists">Setlists</a></li>
    <li class="nav-item"><a class="nav-link" href="#!video">Video</a></li>
  </ul>

</nav>



<!-- navbar-fixed-top -->
<nav style="background: none;" class="navbar-toggleable-xs navbar navbar-default" ng-controller="NavController as nav">
  <!-- do we need container-fluid? w3c had it-->
  <div class="container-fluid">

    <div class="navbar-header">
      <!-- <a href="#!home"><img class="navbar-brand" src="images/logos/AE_Hi_Res.png" alt="Aquatics Empowered logo"></a> -->
      <button type="button" class="navbar-toggle" ng-click="nav.toggleNav()">
              <span class="sr-only">Toggle Navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
      </button>
    </div>


  </div> <!-- /.container-fluid -->

</nav>
