
<nav ng-controller="NavController as nav" class="navbar navbar-default navbar-toggleable-xs static-top">

  <!-- <div class="container-fluid"> -->
    <div class="navbar-header">

      <a href="#!home1"><img class="navbar-brand" src="images/logos/AE_Hi_Res.png" alt="Aquatics Empowered logo"></a>

      <button type="button" class="navbar-toggle" ng-click="nav.toggleNav()">
        <span class="sr-only">Toggle Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

  <ul class="nav navbar-nav navbar-right list-unstyled navbar-collapse" uib-collapse="nav.isCollapsed">

    <li class="nav-item"><a class="nav-link" href="#!home1">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#!maps">Map</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#!surveys">Surveys</a></li> -->
    <!-- <li class="nav-item"><a class="nav-link" href="#!surveys">Log In or Register<i class="fa fa-user"></i></a></li> -->

  </ul>
<!-- </div> -->
</nav>
