
<nav ng-controller="NavController as nav" class="navbar">

  <div class="container-fluid">
    <div class="navbar-header">
    <a href="#!Home1">
      <img alt="Aquatics Empowered logo" src="images/logos/AE_Hi_Res.png" class="navbar-brand">
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right list-unstyled navbar-collapse" uib-collapse="nav.isCollapsed">

    <li class="nav-item"><a class="nav-link" href="#!maps">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="#!maps">Map</a></li>
    <!-- <li class="nav-item"><a class="nav-link" href="#!surveys">Surveys</a></li> -->
    <!-- <li class="nav-item"><a class="nav-link" href="#!surveys">Log In or Register<i class="fa fa-user"></i></a></li> -->

  </ul>
</div>
</nav>
