<!-- <section class="search">
            <h3>Find a pool</h3>
            <form name="chartForm" ng-submit="home.getAllFacilities()">
                  <div class="searchDiv">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" ng-model="home.zipcode" placeholder="Zip Code" class="zipcodeInput">
                  </div>
                <div class="col-xs-2">
                  <button type="submit" class="submitZipButton btn btn-lg btn-info">Search</button>
                </div>
            </form>
            </section> -->
