
                <!-- CAROUSEL / SLIDESHOW -->
                <div class="container carouselContainer">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <div class="item active">
                        <img class="slideshowImage" src="images/slideshow/girlswim.jpg" alt="Girl Swimming">
                        <div class="carousel-caption">
                          <!-- <h3>I love to swim!</h3> -->
                        </div>
                      </div>  <!-- end first item-->
                      <div class="item">
                        <img class="slideshowImage" src="images/slideshow/motherSon.jpg" alt="Mother and Son">
                        <div class="carousel-caption">
                          <!-- <h3>Swimming is fun!</h3> -->
                        </div>
                      </div> <!-- end second item-->

                      <div class="item">
                        <img class="slideshowImage" src="images/slideshow/motherDaughter.jpeg" alt="Mother and Daughter">
                        <div class="carousel-caption">
                          <!-- <h3>Water = Therapy</h3> -->
                        </div>
                      </div> <!-- end first item-->
                    </div>   <!-- END SLIDE WRAPPER -->
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
                </div>  <!-- END CAROUSEL / SLIDESHOW -->
