<div class="container-fluid">


  <div class="center-block">
    <a href="#!home"><img class="mapsLogo img-fluid center-block" src="images/logos/AE_Hi_Res.png" alt="Aquatics Empowered logo"></a>
  </div>


  <div class="center-block">
    <h2 id="whatPeopleSay">REGISTRATION COMING SOON</h2>
  </div>

  <div class="item">
    <a href="#!maps">
      <img src="images/Home/hero7.png" alt="" style="width:100%;">
    </a>
  </div>

<footer ng-include="'views/templates/footer.html'"></footer>

</div>
