
<!-- HOME LOGO -->
<section class="row topMargin">
    <div class="col-sm-6">
      <a href="#!Home">
          <img alt="Aquatics Empowered logo" src="images/logos/logoAndTag4.png" class="img-responsive homeLogo">
      </a>
    </div>
    <div class="col-sm-6 explanationHeadingSection">
      <p>So many swimming pools not being fully utilized!
      For example, did you know many hotels will allow you to use their pool for a small fee?
      If you are seeking aquatic therapy or just a quick dip, we'll find a nearby pool just for you.</p>
    </div>
</section>

<div class="">
  <a href="#!Home">
      <img alt="Aquatics Empowered logo" src="images/logos/logoAndTag4.png" class="img-responsive homeLogo">
  </a>
</div>

<!-- COMING SOON -->
<div class="comingSoonDiv">
      <img alt="Coming Soon" src="images/ComingSoonOswald.png" class="img-responsive comingSoonImage">
    </a>
</div>
<section class="explanationHeadingSection">
<div class="h3 explanationHeading">
  <p>So many swimming pools not being fully utilized!
  For example, did you know many hotels will allow you to use their pool for a small fee?
  If you are seeking aquatic therapy or just a quick dip, we'll find a nearby pool just for you.</p>
</div>
</section>


<section class="homeIntroHeading">
    <a href="#!surveys">
      <button type="button" name="button" class="btn surveyButton">Please take our survey</button>
    </a>
</section>
<br>
<hr>
<!-- WHAT CAN I DO? -->
<section class="homeIntroHeading">
      <h2 class="sectionHeading">What can I do here?</h2>
</section><br>

<!-- 1st Images/Buttons Section -->
<section class="row topMargin">
    <div class="col-sm-6 ">
        <a href="#!maps">
          <button type="button" name="button" class="btn btn-primary btn-xl ">Find a Pool</button></a> <br>
        <!-- <a href="#!surveys"> -->
          <!-- <button type="button" name="button" class="btn btn-primary btn-xl ">Find an Aquatic Therapist</button></a> -->
    </div>
    <div class="col-sm-4">
        <!-- <a href="#!surveys"> -->
          <img class="img-circle img-responsive " src="images/slideshow/kids-swimming.jpg" alt="3 kids in water smiling at camera"></a>
    </div>
    <div class="col-sm-2">
    </div>
</section>
<!-- END 1st Images/Buttons Section -->

<hr>

<!-- 2nd Images/Buttons Section -->
<section class="row topMargin">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-4">
        <!-- <a href="#!surveys"> -->
          <img class="img-circle img-responsive " src="images/slideshow/HydroPhysio.jpg" alt="Male water-therapy patient and therapist"></a>
    </div>
    <div class="col-sm-6 ">
        <!-- <a href="#!surveys"> -->
          <!-- <button type="button" name="button" class="pull-right btn btn-primary btn-xl ">Register your Facility</button></a> <br> -->
        <!-- <a href="#!surveys"> -->
          <!-- <button type="button" name="button" class="pull-right btn btn-primary btn-xl ">Register as a Therapist</button></a> -->
    </div>
</section>
<!-- END 2nd Images/Buttons Section -->

<hr>

<!-- Video Section-->
<section class="row topMargin">
    <div class="col-sm-6 ">
        <h2 class="topMargin sectionHeading">Pool of the Month!!
          <br>
            <span class="secondaryColor">Morgan's Inspiration Island</span>
        </h2>
    </div>
    <div class="col-sm-4">
        <video loop muted autoplay controls="" id="myVideo" class="topMargin img-responsive">
            <source src="images/videos/now_this.mp4" type="video/mp4" class="">
        </video>
    </div>
    <div class="col-sm-2">
    </div>
</section>
<!-- END Video Section-->



<!-- INCLUDE SLIDESHOW -->
<!-- <div class="">
            <nav ng-include="'views/templates/slides.html'"></nav>
        </div> -->


<nav ng-include="'views/templates/footer.html'"></nav>
