<!-- <div>
  <div class="row">
    <div class="col-sm-12">
      <img class="aeHomeLogo center-block img-fluid" src="images/logos/AE_Hi_Res.png" alt="Aquatics Empowered logo">
    </div>
  </div>
</div> -->

<!-- https://startbootstrap.com/template-overviews/full-width-pics/ -->

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="#copyright"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<!-- Full Width Image Header with Logo -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<header class="waterBackground">
    <img class="img-responsive img-center" src="images/logos/AE_Hi_Res.png" alt="">
</header>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Enabling the world to experience aquatic therapy by connecting people to water through technology</h1>
                <p class="lead section-lead">We are passionate about finding aquatic solutions for anyone and everyone worldwide.  Successfully meeting the needs of aquatic environments.</p>
                <p class="section-paragraph">Aquatics Empowered will unite the industry entities providing a resource for all communities to find aquatic solutions, find funding, and acquire the resources to manage it successfully.
</p>
            </div>
        </div>
    </div>
</section>

<!-- Fixed Height Image Aside -->
<!-- Image backgrounds are set within the full-width-pics.css file. -->
<section>
    <img class="img-responsive img-center" src="images/Home/floatinglady_wo_button.png" alt="">
</section>

<!-- Content Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="section-heading">Our vision is worldwide access to aquatic therapy.  All children will learn to swim, individuals with disabilities will experience freedom and joy, all experience the healing capacity of water.
</h1>
                <p class="lead section-lead">It is essential to teach the benefits of water therapy and how it helps build communities.  Empower communities to acquire aquatic resources.
</p>
                <p class="section-paragraph">We will lift communities up, support them at every level full filling dreams of experiencing the freedom water provides.  </p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Aquatics Empowered</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</footer>
