
<div class="">
    <nav ng-include="'views/templates/nav.html'"></nav>
</div>


<div class="homeLogoDiv">
    <img alt="Aquatics Empowered logo" src="images/logos/logoAndTag2.png" class="homeLogo">
</div>


<div class="comingSoonDiv">
    <img alt="Coming Soon" src="images/ComingSoon4.png" class="comingSoonImage">
</div>

            <!-- <section class="search">
            <h3>Find a pool</h3>
            <form name="chartForm" ng-submit="home.getFacilities()">
                  <div class="searchDiv">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" ng-model="home.zipcode" placeholder="Zip Code" class="zipcodeInput">
                  </div>
                <div class="col-xs-2">
                  <button type="submit" class="submitZipButton btn btn-lg btn-info">Search</button>
                </div>
            </form>
            </section> -->




        <!-- Social Media Footer -->
        <!-- <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center"> -->
        <!-- <footer>
            <h4>Follow Us</h4>
            <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
        </footer>
        <script>
            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script> -->



<!-- https://startbootstrap.com/template-overviews/one-page-wonder/ -->
        <!-- First Featurette id="about"-->
                <div class="featurette" >
                    <img class="featurette-image img-circle img-responsive pull-right" src="images/slideshow/motherSon.jpg" alt="Mother and Son swimming">
                    <h2 class="featurette-heading">Water =
                        <span class="text-danger">Therapy!!</span>
                    </h2>
                    <!-- class="lead" -->
                    <h3>Get in the Water! <br>
                      Get some Therapy! <br>
                      Get some Happy! <br>
                    </h3>
                      <!-- Of course our service is free!! <br>
                      But we won't say no to crowd-funding at the link below <br>
                      (and remember to buy stuff from our sponsors :)</p> -->

                </div>

                <hr class="featurette-divider">

                <!-- Second Featurette id="services"-->
                <div class="featurette">
                    <img class="featurette-image img-circle img-responsive pull-left" src="images/slideshow/HydroPhysio.jpg" alt="Male water-therapy patient and therapist">
                    <h2 class="featurette-heading">Let's Connect
                        <span class="text-danger">Pools and People</span>
                    </h2>
                    <!-- class="lead" -->
                    <h3>
                      <!-- People need pools!<br> Pools need people! <br> -->
                      Find a pool and splash around! <br>
                      Or connect with therapists and teachers for guidance and support.</h3>
                </div>

                <hr class="featurette-divider">

                <!-- Third Featurette id="contact"-->
                <div class="featurette" >
                  <video height="500" width="600" loop muted autoplay controls="" id="myVideo" class="featurette-image img-circle img-responsive pull-right">
                      <source  src="images/videos/now_this.mp4" type="video/mp4">
                  </video>
                    <h2 class="featurette-heading">Pool of the Month!! <br>
                        <span class="text-danger">Morgan's Inspiration Island</span>
                    </h2>
                    <!-- class="lead" -->
                    <h3>What an amazing place!!</h3>
                </div>

                <hr class="featurette-divider">





<script src="https://cdnjs.cloudflare.com/ajax/libs/vissense/0.10.0/vissense.js">
    var myVideo = document.getElementById('myVideo');

    VisSense.VisMon.Builder(VisSense(myVideo, {
            fullyvisible: 0.75
        }))
        .on('fullyvisible', function() {
            myVideo.play();
        })
        .on('hidden', function() {
            myVideo.pause();
        })
        .build()
        .start();
</script>

<!-- <section class="row">
    <div class="col-md-5 videoDiv">
        <video loop muted autoplay="" class="videoItself">
                  <source src="images/videos/now_this.mp4" type="video/mp4">
                </video>
    </div> -->
    <!-- END VIDEO DIV -->
    <!-- <div class="col-md-7">
        <h1>Pool of the Month!!</h1>
        <h1>Morgan's Inspiration Island</h1>
        <h1>in San Antonio, Texas</h1>
    </div>
</section> -->

                    <!-- <div class="container text-center">
                      <h3>What We Do</h3><br>
                      <div class="row">
                        <div class="col-sm-4">
                          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                          <p>Current Project</p>
                        </div>
                        <div class="col-sm-4">
                          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                          <p>Project 2</p>
                        </div>
                        <div class="col-sm-4">
                          <div class="well">
                           <p>Some text..</p>
                          </div>
                          <div class="well">
                           <p>Some text..</p>
                          </div>
                        </div>
                      </div>
                    </div><br> -->




<!-- INCLUDE SLIDESHOW -->
  <!-- <div class="">
            <nav ng-include="'views/templates/slides.html'"></nav>
        </div> -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Aquatics Empowered 2017</p>
                </div>
            </div>
        </footer>
