
<div class="">
    <nav ng-include="'views/templates/nav.html'"></nav>
</div>


<div class="homeLogoDiv">
    <img alt="Aquatics Empowered logo" src="images/logos/logoAndTag2.png" class="homeLogo">
</div>


<div class="comingSoonDiv">
    <img alt="Coming Soon" src="images/ComingSoon4.png" class="comingSoonImage">
</div>

            <!-- <section class="search">
            <h3>Find a pool</h3>
            <form name="chartForm" ng-submit="home.getFacilities()">
                  <div class="searchDiv">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" ng-model="home.zipcode" placeholder="Zip Code" class="zipcodeInput">
                  </div>
                <div class="col-xs-2">
                  <button type="submit" class="submitZipButton btn btn-lg btn-info">Search</button>
                </div>
            </form>
            </section> -->




        <!-- Social Media Footer -->
        <!-- <footer class="w3-container w3-padding-32 w3-theme-d1 w3-center"> -->
        <!-- <footer>
            <h4>Follow Us</h4>
            <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
            <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
            <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
        </footer>
        <script>
            // Used to toggle the menu on smaller screens when clicking on the menu button
            function openNav() {
                var x = document.getElementById("navDemo");
                if (x.className.indexOf("w3-show") == -1) {
                    x.className += " w3-show";
                } else {
                    x.className = x.className.replace(" w3-show", "");
                }
            }
        </script> -->



<!-- https://startbootstrap.com/template-overviews/one-page-wonder/ -->
        <!-- First Featurette -->
                <div class="featurette" id="about">
                    <img class="featurette-image img-circle img-responsive pull-right" src="images/slideshow/girlswim.jpg" alt="Girl Swimming">
                    <h2 class="featurette-heading">Water =
                        <span class="text-danger">Therapy!!</span>
                    </h2>
                    <p class="lead">We want to get people in the water! Get some Therapy! Get some Happy!</p>
                    <p class="lead">Of course our service is free!! But we won't say no to crowd-funding at the link below (and remember to buy stuff from our sponsors :)</p>

                </div>

                <hr class="featurette-divider">

                <!-- Second Featurette -->
                <div class="featurette" id="services">
                    <img class="featurette-image img-circle img-responsive pull-left" src="images/slideshow/HydroPhysio.jpg" alt="Male water-therapy patient and therapist">
                    <h2 class="featurette-heading">Let's Connect
                        <span class="text-danger">Pools and People</span>
                    </h2>
                    <p class="lead">Wouldn't it be great to have one place to find every available pool in your area, and connect with therapists and teachers if you want some guidance and support?</p>
                </div>

                <hr class="featurette-divider">

                <!-- Third Featurette -->
                <div class="featurette" id="contact">
                  <video loop muted autoplay="" class="featurette-image img-circle img-responsive pull-right">
                      <source src="images/videos/now_this.mp4" type="video/mp4">
                  </video>
                    <h2 class="featurette-heading">Pool of the Month!!
                        <span class="text-danger">Morgan's Inspiration Island</span>
                    </h2>
                    <p class="lead">This month's pool of the month is actually a huge water park in San Antonio. What an amazing place!!</p>
                </div>

                <hr class="featurette-divider">



            </div>

<!-- <section class="row">
    <div class="col-md-5 videoDiv">
        <video loop muted autoplay="" class="videoItself">
                  <source src="images/videos/now_this.mp4" type="video/mp4">
                </video>
    </div> -->
    <!-- END VIDEO DIV -->
    <!-- <div class="col-md-7">
        <h1>Pool of the Month!!</h1>
        <h1>Morgan's Inspiration Island</h1>
        <h1>in San Antonio, Texas</h1>
    </div>
</section> -->

                    <!-- <div class="container text-center">
                      <h3>What We Do</h3><br>
                      <div class="row">
                        <div class="col-sm-4">
                          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                          <p>Current Project</p>
                        </div>
                        <div class="col-sm-4">
                          <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
                          <p>Project 2</p>
                        </div>
                        <div class="col-sm-4">
                          <div class="well">
                           <p>Some text..</p>
                          </div>
                          <div class="well">
                           <p>Some text..</p>
                          </div>
                        </div>
                      </div>
                    </div><br> -->




<!-- INCLUDE SLIDESHOW -->
  <!-- <div class="">
            <nav ng-include="'views/templates/slides.html'"></nav>
        </div> -->
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Aquatics Empowered 2017</p>
                </div>
            </div>
        </footer>
