
<nav ng-include="'views/templates/nav.html'"></nav>

<div class="homeLogoDiv">
  <a href="#!Home1">
      <img alt="Aquatics Empowered logo" src="images/logos/logoAndTag2.png" class="img-responsive homeLogo">
  </a>
</div>

    <section class="homeIntroHeading">
        <h2 class="sectionHeading">Want to help us create a valuable free service connecting people and pools? Please take our survey</h2>
    </section><br>

    <section>
        <div>
            <a href="#!survey-facilities"><button type="button" name="button" class="btn btn-primary btn-block">Facility Manager Survey</button></a> <br>
            <a href="#!survey-therapists"><button type="button" name="button" class="btn btn-primary btn-block">Aquatic Therapist Survey</button></a><br>
            <button type="button" name="button" class="btn btn-primary btn-block">Pool User Survey</button> <br>
        </div>
    </section>
